@font-face {
	font-family: "system";
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"),
		local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
	--color-1: rgb(230, 230, 230);
	--color-2: white;
	--search-bar-bg-color: var(--color-1);
	--header-bg-color: var(--color-2);
	--search-button-bg-color: var(--header-bg-color);
	--search-bar-input-height: 1.7rem;
	--search-button-size: calc(var(--search-bar-input-height) - 0.2rem);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "system";
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1800px;
	padding: min(2rem, 4vmin);
	display: grid;
	grid-template-columns: 17rem 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"side header"
		"side content";
	gap: 10px;
}

.toolbar {
	grid-area: side;
	background-color: gainsboro;
}

.header {
	grid-area: header;
	background-color: var(--header-bg-color);
	padding: 1rem;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto auto;
	gap: 1.5rem;
}

.header__search-bar {
	width: 100%;
	display: flex;
	align-items: center;
	margin-right: auto;
	gap: 1rem;
}

.search-bar__search-button,
.notification-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--header-bg-color);
	border: 0;
	width: var(--search-button-size);
	height: var(--search-button-size);
}

.search-bar__search-input {
	height: var(--search-bar-input-height);
	background-color: var(--search-bar-bg-color);
	border: 0;
	border-radius: 0.85rem;
	width: 100%;
	font-size: 1rem;
}

.header__user-menu {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 2rem;
}

.user-menu__avatar {
	width: 35px;
	height: auto;
	border-radius: 50%;
}

.user-menu__user-name {
	font-weight: bolder;
	font-size: 0.9rem;
}

.user-info-bar {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	column-gap: 0.6rem;
	margin-right: auto;
}

.user-info-bar__avatar {
	width: 50px;
	height: auto;
	border-radius: 50%;
	grid-row: 1 / -1;
}

.user-info-bar__text,
.user-info-bar__user-name {
	font-weight: bold;
}

.user-info-bar__text {
	font-size: 0.8rem;
}

.user-info-bar__user-name {
	font-size: 1.1rem;
}

.content {
	grid-area: content;
	background-color: lightblue;
}

@media (max-width: 1024px) {
	.container {
		grid-template-areas:
			"side"
			"header"
			"content";
		grid-template-columns: 1fr;
	}
}
